{% extends 'header.html' %}
{% block title %}
    主页
{% endblock %}

{% block mainBody %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url(/static/images/background/8.jpg);">
        <div class="container">
            <h1>About Us</h1>
        </div>
    </section>
    <!--End Page Title-->

    <!--Page Info-->
    <section class="page-info">
        <div class="container">
            <div class="flex-box-five">
                <ul class="bread-crumb">
                    <li><a href="index.html">Home</a></li>
                    <li>About Us</li>
                </ul>
                <div class="share-link"><a href="#"><i class="fa fa-share-alt"></i>share</a></div>
            </div>
        </div>
    </section>
    <!-- End Page Info -->

    <!-- about us -->
    <section class="about-us sp-two">
        <div class="container">
            <div class="row">
                <div class="services-block-two col-xl-6 col-lg-12">
                    <div class="inner-box">
                        <div class="title"><h4>Our Mission is simple, deliver very honest financial products to every
                            customer.</h4></div>
                        <div class="text"><p>Must explain to you how all this mistaken idea of denouncing pleasure and
                            seds praising pain was born and I will give you a complete account of the system, and
                            expound the actual teaching of the great explorer of the truth, the masterbuilder human
                            happiness rejects, dislikes, or avoids pleasure.</p>
                            <p>Which toil and pain can procure him some great pleasure. To take a trivial example, which
                                of us ever undertakes laborious physical exercise, except to obtain some advantage from
                                annoying consequences.</p>
                        </div>
                        <div class="signature">
                            <img src="/static/images/icons/sign.png" alt="">
                        </div>
                        <div class="author-information">
                            <h4>Mark Nicholes</h4>
                            <div class="designation">CEO & Founder</div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="flex-box">
                        <div class="image"><img src="/static/images/resource/about-1.jpg" alt=""></div>
                        <!--Fact Counter-->
                        <div class="fact-counter">

                            <!--Column-->
                            <div class="column counter-column">
                                <div class="inner">
                                    <div class="count-outer count-box">
                                        <span class="icon icon-file"></span>
                                        <span class="count-text" data-speed="3000" data-stop="1472">0</span><span
                                            class="plus-icon">+</span>
                                    </div>
                                    <h4 class="counter-title">Projects Done</h4>
                                </div>
                            </div>

                            <!--Column-->
                            <div class="column counter-column">
                                <div class="inner">
                                    <div class="count-outer count-box">
                                        <span class="icon icon-people-1"></span>
                                        <span class="count-text" data-speed="2500" data-stop="285">0</span>
                                    </div>
                                    <h4 class="counter-title">Expert Workers</h4>
                                </div>
                            </div>

                            <!--Column-->
                            <div class="column counter-column">
                                <div class="inner">
                                    <div class="count-outer count-box">
                                        <span class="icon icon-medal"></span>
                                        <span class="count-text" data-speed="2500" data-stop="639">0</span>
                                    </div>
                                    <h4 class="counter-title">Awards Won</h4>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Featured Section -->
    <section class="feature-section sp-two">
        <div class="container">
            <div class="sec-title centered">
                <h5>We are best</h5>
                <h2>Why Choose Us</h2>
            </div>
            <div class="feature-bg">
                <div class="row">
                    <!--New Block four-->
                    <div class="services-block-four col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon icon-clock"></span>
                            </div>
                            <h3>On Time Service</h3>
                            <div class="text">We are experts in industry with over 100 years of experience. What that
                                means you are get right solution, experts.
                            </div>
                        </div>
                    </div>
                    <!--New Block four-->
                    <div class="services-block-four col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon icon-people-2"></span>
                            </div>
                            <h3>Experineced Team</h3>
                            <div class="text">Advanced Analytics is an unique add-on service offering the SFinancewhich
                                enables you to work trends organization.
                            </div>
                        </div>
                    </div>
                    <!--New Block four-->
                    <div class="services-block-four col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon icon-chart"></span>
                            </div>
                            <h3>Analyze Your Business</h3>
                            <div class="text">Is an interprtation of trends in human behaviors which aims to increase
                                effectiveness of a sed service for the consumer.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--Team Section-->
    <section class="team-section sp-six">
        <div class="container">
            <div class="flex-box-two">
                <div class="sec-title">
                    <h5>Our team</h5>
                    <h2>Meet Our Experts</h2>
                </div>
                <div class="link mt-2 mb-4">
                    <a href="#" class="theme-btn btn-style-two">All Experts</a>
                </div>
            </div>
            <div class="row">
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/static/images/resource/team-1.jpg" alt=""/>
                            <div class="overlay-box">

                            </div>
                            <div class="mail"><a href="#"><i class="fa fa-envelope-o"></i>Eliot@Plumberhub.com</a></div>
                        </div>
                        <div class="lower-content">
                            <a href="blog-single.html"><h3>Richard Antony</h3></a>
                            <div class="designation">Founder</div>
                            <div class="text">Great explorer of the truth, the <br>master human happiness.</div>
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-skype"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/static/images/resource/team-2.jpg" alt=""/>
                            <div class="overlay-box">

                            </div>
                            <div class="mail"><a href="#"><i class="fa fa-envelope-o"></i>Eliot@Plumberhub.com</a></div>
                        </div>
                        <div class="lower-content">
                            <a href="blog-single.html"><h3>Charz Cuthbert</h3></a>
                            <div class="designation">President</div>
                            <div class="text">Teachings of the great explors of <br>truth the master builders..</div>
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-skype"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/static/images/resource/team-3.jpg" alt=""/>
                            <div class="overlay-box">

                            </div>
                            <div class="mail"><a href="#"><i class="fa fa-envelope-o"></i>Eliot@Plumberhub.com</a></div>
                        </div>
                        <div class="lower-content">
                            <a href="blog-single.html"><h3>Eliot Hananiah</h3></a>
                            <div class="designation">HR Manager</div>
                            <div class="text">Circumstances occur in which toil <br>pain can greatest pleasure.</div>
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-skype"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Team Member-->
                <div class="team-member-one col-lg-3 col-md-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="/static/images/resource/team-4.jpg" alt=""/>
                            <div class="overlay-box">

                            </div>
                            <div class="mail"><a href="#"><i class="fa fa-envelope-o"></i>Eliot@Plumberhub.com</a></div>
                        </div>
                        <div class="lower-content">
                            <a href="blog-single.html"><h3>Daren Eldbridge</h3></a>
                            <div class="designation">Executive</div>
                            <div class="text">The greatest pleasur to take seds <br>example which of us ever.</div>
                            <ul class="social-icon-one">
                                <li><a href="#"><span class="icon fa fa-facebook"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-twitter"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-skype"></span></a></li>
                                <li><a href="#"><span class="icon fa fa-linkedin"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--End Team Section-->

    <!--Call To Action-->
    <section class="call-to-action-two parallax-one" style="background-image:url(/static/images/background/9.jpg);">
        <div class="container">
            <div class="text-center">
                <h1>We are Money Experts</h1>
                <div class="text">Anyone who loves or pursues or desires to obtain pain of itself, because it is pain,
                    but because occasionally circumstances <br> occur in which toil and pain can procure him some great
                    pleasure.
                </div>
                <div class="link"><a href="#" class="theme-btn btn-style-two">Our Services</a></div>
            </div>
        </div>
    </section>
    <!--End Call To Action-->

    <!-- working process -->
    <section class="working-process sp-two">
        <div class="container">
            <div class="sec-title centered">
                <h5>We are best</h5>
                <h2>Why Choose Us</h2>
            </div>
            <div class="row">
                <!--New Block four-->
                <div class="services-block-five col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon icon-mark"></span>
                        </div>
                        <h3>Evaluate</h3>
                        <div class="text">Which toil and pain can sed procure <br>him some great pleasure.</div>
                    </div>
                </div>
                <!--New Block four-->
                <div class="services-block-five col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon icon-business-2"></span>
                        </div>
                        <h3>Implement</h3>
                        <div class="text">Praising pain was born and will give <br>complete account system.</div>
                    </div>
                </div>
                <!--New Block four-->
                <div class="services-block-five col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon icon-business-3"></span>
                        </div>
                        <h3>Expand</h3>
                        <div class="text">Actual teachings the great explorer <br> of the every one truth.</div>
                    </div>
                </div>
                <!--New Block four-->
                <div class="services-block-five col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon icon-business-4"></span>
                        </div>
                        <h3>Integrate</h3>
                        <div class="text">Occur in which toil pain can procure <br>him some great pleasure.</div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Partner logo -->
    <section class="partner-logo sp-one grey-bg">
        <div class="container">

            <div class="six-item-carousel owl-carousel owl-theme owl-dot-none owl-nav-none">
                <div class="item">
                    <img src="/static/images/clients/1.png" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="/static/images/clients/2.png" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="/static/images/clients/3.png" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="/static/images/clients/4.png" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="/static/images/clients/5.png" alt="Awesome Image">
                </div>
                <div class="item">
                    <img src="/static/images/clients/6.png" alt="Awesome Image">
                </div>

            </div>
        </div>
    </section>

{% endblock mainBody %}