{% extends 'common.html' %}
{% block title %}
    Contact Us
{% endblock %}
{% block mainBody %}
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url(/static/assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>

        <div class="container">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/index">Home</a></li>
                <li>/</li>
                <li><span>Contact Us</span></li>
            </ul>
            <h2>Contact</h2>
        </div>
    </section>
    <section class="contact-one">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <div class="contact-one__content">
                        <div class="block-title">
                            <div class="block-title__image"></div>
                            <p>Contact now</p>
                            <h3>Leave A Message</h3>
                        </div>
                        <div class="contact-one__summery">
                            <p>Lorem ipsum dolor sit amet, consectetur notted adipisicing elit sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua lonm andhn. Aenean tincidunt id mauris id
                                auctor. Donec at ligula lacus dignissim mi quis simply neque.</p>
                        </div>
                        <div class="contact-one__social">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-8">
                    <form action="/static/assets/inc/sendemail.php" class="contact-one__form contact-form-validated">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="name" placeholder="Full Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="email" placeholder="Email Address">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="phone" placeholder="Phone Number">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="subject" placeholder="Subject">
                            </div>
                            <div class="col-lg-12">
                                <textarea name="message" placeholder="Write Message"></textarea>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="thm-btn">Send a Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-infos">
        <div class="container">
            <div class="inner-container wow fadeInUp" data-wow-duration="1500ms">
                <div class="row no-gutters">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="contact-infos__single">
                            <h3>About Company</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit nulla sit amet lectus neque.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="contact-infos__single">
                            <h3>Visit Company</h3>
                            <p>66 broklyn golden street line, New York. United States of America.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="contact-infos__single">
                            <h3>Call or Email</h3>
                            <p><a href="/cdn-cgi/l/email-protection#a6c8c3c3c2cec3cad6e6c5c9cbd6c7c8df88c5c9cb"><span
                                    class="__cf_email__"
                                    data-cfemail="ddb3b8b8b9b5b8b1ad9d">[email&#160;protected]</span>company.com</a>
                                <br>
                                <a href="/cdn-cgi/l/email-protection#90f9fef6ffd0f3fffde0f1fee9bef3fffd"><span
                                        class="__cf_email__" data-cfemail="c8a1a6aea788aba7a5b8a9a6b1e6aba7a5">[email&#160;protected]</span></a><br>
                                <a href="tel:666-888-0000">666 888 0000</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="google-map__home-two">

    </div>

{% endblock %}